/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/.lein-plugins/checksum
/docs/uberdoc.html
/src/msince45/bells.clj
/docs/Sine in A.key
/docs/Compositional process.docx
/target
/.lein-repl-history
/.lein-env
